@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
/* ====================
     NAVBAR
===================== */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-inline: 20px;
}
.big-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.first-container ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
}
.first-container button{
    all: unset;
    border: 2px solid rgb(243, 133, 55);
    padding: 2px;
    text-align: center;
    font-size: small;
    color: rgb(243, 133, 55);
    border-radius: 7px;
    width: 40px;
    font-weight: 500;
    font-size: 17px;
}
.first-container ul li a{
    color: rgb(243, 133, 55);
    text-decoration: underline;
}
.second-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.second-container ul li a{
  color: black;
}
.add-listing{
    all: unset;
    background-color: rgb(242, 131, 52);
    padding: 5px;
    text-align: center;
    font-size: small;
    color: #fff;
    border-radius: 7px;
}
/* ====================
     Section contactus
===================== */
.sectionimg{
    background: url('../../../sectionimg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 50;
}
.contact{
    text-align: center;
  padding-top: 100px;
}
.contact h1{
    font-size: 50px;
    color: #fff;
}
.contact div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 15px;
}
/* ==================
  section grid form
==================== */
.contactdetails{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 4px;
    width: 80%;
    margin-inline: auto;
    border: 1px solid rgba(69, 67, 67, 0.355);
    padding: 15px;
    border-radius: 10px;
    transform: translateY(-45px);
    background-color: #fff;
}
.divider{
border-left: 1px solid black;
height: 85%;
margin: auto 0;
}
.left-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    & form{
        display: flex;
        flex-direction: column;
        padding: 5px;
        & label{
            margin-top: 5px;
        }
        & input[type="text"],input[type="tel"],select,textarea{
            outline: none;
            border: none;
            border-bottom: 1px solid black;
            height: 40px;
        }
        & #phone{
            width: 100%;
        }
        & button{
            all: unset;
            padding: 5px;
            text-align: center;
            border-radius:5px ;
            background-color: chocolate;
            color: #fff;
            width: 18%;
            margin-top: 40px;
        }
    }
}
.right-container{
    padding:30px;
}
.right-container h3{
    color: rgb(233, 143, 7);
}
.right-container table{
    border-collapse: collapse;
    width: 100%;
}
.right-container table td{
    border-bottom: 1px solid black;
padding-bottom: 5px;
text-align: left;
}
.first-table td a{
    color: rgba(61, 57, 57, 0.758);
    transition: color 0.2s ease;
}
.first-table td a:hover{
    color: black;
}
.second-table h3{
    margin-top: 16px;
}
.second-table p{
    margin-bottom: 20px;
}

.second-table th{
    text-align: center;
    border-bottom: 3px solid black;
}
.second-table td{
    text-align: center !important;
}
.second-table tr th:first-child{
    text-align: left;
}
.second-table tr td:first-child{
    text-align: left !important;
}
.second-table tr:last-child td{
    border-bottom: none;
}

/* ==============
        Maps
 ===============*/
 .maps{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 15px;
 }
.maps h1{
    text-align: center;
    font-size: 3rem;
}
.container-map{
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: 400px;
    display: flex;
    gap: 8px;
}
.map-container{
    width: 100%; 
    height: 90%;
}
.branch-desc{
    margin-top: 3px;
    background-color: rgba(105, 105, 105, 0.37);
    padding: 7px;
}
.branch-desc >p:first-child{
    font-weight: 600;
}
